<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :transaction_address %>
  </div>

  <div class="field">
    <%= form.label :txn_hash %>
    <%= form.text_field :txn_hash, id: :transaction_txn_hash %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.text_field :from, id: :transaction_from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_field :to, id: :transaction_to %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :transaction_summary %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, id: :transaction_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
