<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @transaction.address %>
</p>

<p>
  <strong>Transaction Hash:</strong>
  <%= @transaction.txn_hash %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @transaction.summary %>
</p>

<p>
  <strong>From:</strong>
  <%= @transaction.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @transaction.to %>
</p>

<p>
  <strong>Location:</strong>
  <%= @transaction.location %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
